<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale =1">
    <title> Mercado Liebre </title>
     
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/a0a201f32f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="bar-menu"> <!--main-header-->
        <div class="mini-header"> <!--main-header-top-bar-->
            <div class="logo"> <!--logo-->
                <img src="./images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="search-section">
                <input class="search-input" type="text" placeholder="Buscar productos, marcas" id="search" name="search">
                <button class="search-button" type="submit"><i class="fas fa-magnifying-glass"></i></button>
            </div>
            <div class="payment-method"> <!--copy-header-->
                <p><i class="fa-solid fa-hand-holding-heart"></i>Comprar en cuotas y sin tarjeta de credito</p>
            </div>
        </div>
        <div class="burger-menu"> <!--Hamburgue-buttom-->
            <button type="button"><i class="fas fa-bars"></i></button>
        </div>
        <div class="navbar"> <!--Main-header-bottom-bar-->
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa fa-basket-shopping"></i></a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="page-body">
        <h1 class="form-title">Iniciar sesión</h1>
        <form action="/index.html" method="post">
            <label for="">Usuario:</label>
            <input class="input-style" type="text" required>
            <label for="password">Contraseña:</label>
            <input class="input-style" type="password" required></input>
            <input class="btn-submit" value="Iniciar sesión" type="button">
        </form>
    </div>
    </main>
    <footer>
        <div class="conteiner-footer">
        <div class="section-footer">
            <i class="fa fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="section-footer">
            <i class="fa fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="section-footer">
            <i class="fa fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </div>
        <div class="footer-brand">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>