<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale =1">
    <title> Registro </title>
     
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/a0a201f32f.js" crossorigin="anonymous"></script>
</head>
<body>  
    <header>
    <div class="top">
    <div class="main-top">
    <img class="logo" src="images/logo-mercado-liebre.svg" alt="">    
    <input class="busqueda" type="text"> <button type="button"><i class="fa-solid fa-magnifying-glass custom-icon4"></i></button>
    </div>   
    <p class="sub"><i class="fa-solid fa-hand-holding-dollar custom-icon"></i>
        Compra en cuotas y sin tarjeta de crédito </p>
     </div>
    <div class="main-bottom">    
        <nav> 
        <ul class="left-nav">
            <li> <a href="#">  Ofertas </a> </li>
            <li> <a href="#"> Tiendas Oficiales </a> </li>
            <li> <a href="#"> Vender </a> </li>
            <li> <a href="#"> Ayuda </a> </li>
        </ul>
        
        <ul class="right-nav">
            <li> <a href="/register"> Creá tu cuenta </a> <i class="fa-regular fa-id-card custom-icon"></i> </li>
            <li> <a href="#">  Ingresá </a> <i class="fa-solid fa-arrow-right-to-bracket custom-icon"></i> </li>
            <li> <a href="#"> Mis compras </a> <i class="fa-solid fa-basket-shopping custom-icon"></i> </li>
        </ul>
    </nav>
    </div>
    <br>
    <div class="burger-menu">
        <i class="fas fa-bars custom-icon2"></i>
    </div>
    <br>
    <img class="banner" src="/images/img-home-banner.jpg" alt="">
</header>
    <main class="registro">
        <div>
        <h1 class="account">Creá tu cuenta</h1>
        <form action="#" method="post">
            <label for="">Nombre y Apellido:</label>
            <input class="input-style" type="text" required>
            <label for="">Usuario:</label>
            <input class="input-style" type="text" required>
            <label for="date">Fecha de nacimiento:</label>
            <input class="input-style" type="date" required>
            <label for="">Domicilio:</label>
            <input class="input-style" type="text" required>
            <label for="profile">Perfil del usuario:</label>
            <div class="radio-option">
                <input type="radio" name="profile" id="comprador">
                <label for="comprador">Comprador</label>
            </div>
            <div class="radio-option">
                <input type="radio" name="profile" id="vendedor">
                <label for="vendedor">Vendedor</label>
            </div>
            <label for="">Categoria de interes:</label>
            <label for=""><input type="checkbox" name="Electro" id="Electro" > Electro</label>
            <label for=""><input type="checkbox" name="Moda" id="Moda"> Moda</label>
            <label for=""><input type="checkbox" name="Hogar" id="Hogar"> Hogar</label>
            <label for=""><input type="checkbox" name="Jugueteria" id="Jugueteria"> Jugueteria</label>
            <label for=""><input type="checkbox" name="Vida-Sana" id="Vida-Sana"> Vida Sana</label>
            <label for="photo">Foto de usuario:</label>
            <input class="upload-style" type="file" required></input>
            <label for="password">Contraseña:</label>
            <input class="input-style" type="password" required></input>
            <label for="password2">Confirmar contraseña:</label>
            <input class="input-style" type="password" required></input>
            <input class="btn-submit" value="Registrarse" type="button">
            <input class="btn-reset" value="Resetear formulario" type="button">
        </form>
    </div>
    </main>
    <footer>
        <i class="fa-solid fa-credit-card"></i>
    <h4> Pagá con tarjeta o en efectivo </h4>
<p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>
<br>
<i class="fa-solid fa-gift"></i>
<h4> Envío gratis desde $ 2.500 </h4>
<p> por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p> 
<br>
<i class="fa-solid fa-user-shield"></i>
<h4> Seguridad, de principio a fin</h4>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p>
<br>
<br>
<p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
    </footer>
</body>
</html>