*{box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
   :root{
        --amarillo: #eac926;
        --azul: #03264c;
        --celeste: #1259c3;
        --gris-oscuro: #666;
        --gris-claro: #ebebeb;
        --verde: #39b54a;
        --negro-mate: #333; 
        --action-btn: #0022AA;
    }


html body{max-width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
    align-items: center;
   
}

/*generales*/

.container {display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
   
}
/*encabezado*/
    header{background-color: #EAC926;
    width: 100%;
    padding: 20px;
    }
        

        .main-top{display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        }
            .logo{width: 50%;
            }

            .search{display: inline-block;
            }
            .busqueda{width: 50%;
            margin-left: 5px;
            height: 30px;
            border-radius: 3px;
            border: white solid;  
            }

            .custom-icon4{font-size: 12px;
             padding: 0;
            margin: 0;
            }
            .lupa{height: 30px;
            border-color: #ebebeb;
            border: white solid;
            }
        .sub{width: 100%;
        text-align: center;
        font-weight: bold;
        }

        .main-bottom{
        margin: 0;
        }


    .burger-menu{display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    }
    .custom-icon2{color: white;
    font-size: 20px;
background-color: #1259c3;
border-radius: 5px;
padding: 10px;
    }
ul{list-style: none;
   color: #222222;
}
a{text-decoration: none;
    color: black;
}
.custom-icon{font-size: 12px;
    color: black;
    margin: 0px;
    padding-left: 5px;
}

/*productos*/
.banner{width: 100%;
}
h2{font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin: 15px;
}
.visita, .ofertas{width: 90%;
    margin: auto;
}
img{width: 100%;    
}
.precio{font-size: 18px;
    font-weight: bold;
}

.descripciones{font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}
.articulo:hover .descripciones{display: block;}


article{display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    
}

.articulo{border: 1px solid #ebedeb;
    padding: 15px;
    position: relative;
    width: 100%;
    background-color: white;
}

.numeros{display: flex;
    flex-direction: row;
    align-items: center;
}
.precios{width: 30%;
}
.descuentos{width: 70%;
        text-align: center;
        color: #39b54a;
        font-size: 16px;
        }
        
.custom-icon3{display: block;
        font-size: 16px;
        color: #39b54a;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        
    }  
    .custom-icon3:hover{
        transform: rotateZ(-90deg);
        transition: transform 0.3s ease;
      }  
    

/*footer*/
footer{display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 40px;
    text-align: center;
    
    
}

h4{padding: 10px;
margin: 0;
font-size: 16px;
font-weight: bold;
margin-bottom: 0%;
}
.icono-bottom{color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    padding: 0%;
    
}



/*registro*/

.registro{display: flex;

flex-direction: column;
flex-wrap: nowrap;
font-weight: bold;
margin: 20px;
text-align: left;}

.titulo{font-size: 16px;
font-weight: bold;
text-align: left;
padding: 0%;
margin-bottom: 20px;

}
.radio-option{margin-bottom: 10px;}
label{padding-bottom: 10px;}
.datos{display: flex;
flex-direction: column;
margin-bottom: 20px;
}
.perfil{padding-bottom: 10px;
font-size: 14px ;
}
.foto_perfil{font-size: 12px;}

.input-style{width: 100%;
    margin-bottom: 10px;
height: 30px;
}
.input-style2{width: 100%;
    height: 30px;
    
}
.input-style2:hover{
    background-color: #0022AA;
    color: #ebebeb;
}
.categoria{display: flex;
flex-direction: column;
margin-bottom: 20px;
}

.registrarse, .reset{
    height: 30px;
    font-weight: bold;
}
.password, .password2{height: 30px;
}
img{width: 100%;
}
footer p{margin-bottom: 30px;
}
/*LOGIN*/
.login{width: 90%;
margin: auto;
padding: 10px;
font-weight: bold;
}



/*Mobile*/

@media(max-width: 360px){
    .descripciones{display: none;
    
}
    .main-bottom{display: none;
          }  
        
 }
/*tablets*/
@media(min-width: 361px) and (max-width: 768px){
    /*header*/
    .logo{margin-right: 10px;}
    header{font-size: 10px;
    font-weight: bold;}
    .main-top{margin: auto;
        justify-content: space-between;
        flex-direction: row;  
    }
    .main-bottom{margin-top: 20px;}
    
    .burger-menu{display: none;}
     .sub{text-align: right;
    font-weight: bold;
    
    width: 50%;
    }  
    .search{display: flex;
        align-items: center;
    }
    .busqueda{height: 20px;
        height: 20px;
    width: calc(33.33% - 10px);
    height: 20px; 
        margin: 0;
    width:80%;
      }
      .lupa{height: 20px;
        margin: 0;
        padding: 0;}
        
        .top{display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 10px;
            align-items: center;
            justify-content:space-between;
            }
            nav{display: flex;
                width: 100%;
                flex-grow: 1;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between; 
                align-items: center;
                font-weight: bold;     
            }
            .left-nav{display: flex;    
                flex-direction: row;
                justify-content: space-between;
            align-items: center;}
            
            .right-nav{display: flex;
                flex-direction: row;
                justify-content: space-between;
            align-items: center;
            }
                    
            li{display: flex;
                padding-left: 2px;
            }      
    /*productos*/
    
    article{box-shadow: 0px 0px 10px rgb(100, 100, 100);
   width: 45%;
    margin: 10px 5px;
    justify-content: space-between;
    }
    article:hover{box-shadow: 3px 3px 14px rgb(100, 100, 100);
        transition: box-shadow 0.3s ease;}
     
.custom-icon4{font-size: 16px;
    padding: 0;
    margin: 0;
}

    .visita{
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;

}

.ofertas{
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;

}

footer{display: flex;
    width: 100%;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

/*REGISTRO*/
.main-register{display:flex;
    justify-content: center;}
.registro{
justify-content: left;
border: #888888 solid 1px;
padding: 20px;
margin-top: 20px;
width: 50%;}
.input-style{width: 100%;
   
text-align: left;}
.password, .password2, .registrarse, .reset{height: 30px;}

/*login*/
.login{width: 50%;}
}

/*computadora*/ 
@media(min-width: 769px) {
    header{font-size: 14px;}
    .busqueda{width: 80%;}
    article{box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-grow: 1;
        width: 25%;
    width: calc(25% - 10px);
    margin-right: 10px;
    justify-content: space-between;
    
    }
    .burger-menu{display: none;
    }
    .visita{width: 90%;
        display: flex;
        flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
   
    }
    .ofertas{width: 90%;
        display: flex;
        flex-wrap: wrap;
    flex-direction: row;
    
    }   
    
    article:hover{box-shadow: 3px 3px 14px rgb(100, 100, 100);
        transition: box-shadow 0.3s ease;} 
    
.top{display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
align-items: center;
}
.main-top{width: 50%;}
.sub{width: 50%;}
nav{display: flex; 
    justify-content: space-between; 
    align-items: center;  
    font-size: 14px; 
    font-weight: bold;
}


.left-nav{display: flex;
    
    flex-direction: row;
    justify-content: space-between;
align-items: center;}

.right-nav{display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{display: flex;
    padding-left: 15px;
    
}

.main-footer{display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: space-between;

}


.icono-bottom:hover{color: #03264c;
    transition: color 0.3s ease;
}
.copyright{width: 100%;
text-align: center;}


/*REGISTRO*/
.main-register{display:flex;
    justify-content: center;}
.registro{width: 30%;
    justify-content: left;
padding: 20px;
border: #888888 solid 1px;
padding: 20px;}
.registrarse, .reset{height: 30px;}
.password, .password2{height: 30px;border-radius: 5px;}
.login{width: 40%;}

}



